<div>
    <div class="product-info">
        <h3>{{product?.name}}</h3>
    </div>

    <div class="product-info">
        <h3>Precio: </h3>
        <p >${{product?.price}}</p>
    </div>

    <div class="product-info">
        <h3>Disponibilidad: </h3>
        <p *ngIf="product?.inStock; else outOfSock">En stock</p>
        <ng-template #outOfSock><p>Agotado</p></ng-template>
    </div>

    <div class="product-info">
        <h3>En oferta: </h3>
        <p *ngIf="product?.onSale; else notOnSale">Si</p>
        <ng-template #notOnSale><p>No</p></ng-template>
    </div>

    <div class="image-container">
        <img src="{{product?.img}}">
    </div>
</div>